#header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    padding: 20px;
    align-items: center;
    
}
#header .icone{
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border-color: #8a8fa3;
    border-style:solid;
}
#header .img{
    height: 35px;
    width: 50px;
}
#header .botao_iconeLua{
    height: 25px;
    width: 25px;
}
